<%- layout('/layouts/boilerplate') %> 
<% let NOW = ''; %> 

<div class="row">
    <div class="col-8">

            <h2>Meus Eventos:</h2>
        <% for (let event of eventos) {%>
            <% let dataInit =new Date(event.initDate) %> 
            <% let dataEnd =new Date(event.endDate) %> 
        <h3> <%=`${dataInit.getDate()} de ${auxMonth.mes[dataInit.getMonth()]} de ${dataInit.getFullYear()} às ${dataInit.getHours()}:${dataInit.getMinutes()}`%> </h3>
        <ul>
            <% if(Date.now() > dataInit.getTime() && Date.now() < dataEnd.getTime()){NOW = 'Acontecendo agora!'} else {NOW = ''} %> 
            <li><a class="event" href="events/<%=event._id%>"><%= event.eventName %></a> <% if(NOW){ %> <span class="badge bg-success"><%= NOW %> </span></li> <% } %> 
        </ul>
        <% } %> 
    </div>
    <div class="col-xl-4">
        <!-- <h2>Escolha o dia</h2> -->
        <div class="calendar border border-dark">
            <div class="month">
            <ul>
                <li class="prev"><button class="change">&#10094;</button></li>
                <li><%= auxMonth.mes[0] %> </li>
                <li class="next"><button class="change">&#10095;</button></li>
            </ul>
        </div>
        
        <ul class="weekdays">
            <li>Dom</li>
            <li>Seg</li>
            <li>Ter</li>
            <li>Qua</li>
            <li>Qui</li>
            <li>Sex</li>
            <li>Sáb</li>
          </ul>

        <ul class="days">
            <li><button class="dia"> </button></li> 
            <% for (let i =1; i<=31;i++) {%>
                <li><button class="dia"><%= i %></button></li> 
                <% } %> 
        </ul>
        </div>
        </div>
</div>
<a href="/events">Mostrar todos</a>
