<%- layout('/layouts/boilerplate') %> 
<% let dataInit =new Date(evento.initDate) %> 
<% let dataEnd =new Date(evento.endDate) %> 

<div class="container" id="showEventCard">
    <h1><%= evento.eventName %> </h1>

    <p><b>Início:</b> <%=`${dataInit.getUTCDate()} de ${auxMonth.mes[dataInit.getMonth()]} de ${dataInit.getFullYear()} às ${evento.initTime}`%></p>
    <p><b>Fim:</b> <%=`${dataEnd.getUTCDate()} de ${auxMonth.mes[dataEnd.getMonth()]} de ${dataEnd.getFullYear()} às ${evento.endTime}`%></p>


    <% if (evento.eventDescrip) { %> 
        <p class="eventDescripTitle">Descrição:</p>
        <p class="eventDescripText ps-3"><%= evento.eventDescrip %> </p>
    <% } %> 

    <% if(evento.author) {%> 
        <p class="text-muted">Criado por: <%= evento.author.username %> </p>
    <% } %> 
    <div class="container">
        <div class="row">
            <div class="col">
            <form action="/invites/<%=evento._id%>" method="POST">
                <button class="btn btn-success">Aceitar Convite</button>
            </form>
            </div>
            <div class="col">
            <form action="/invites/<%=evento._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Recusar Convite</button>
            </form>
            </div>
        </div>
    </div>

</div>